<!DOCTYPE html>
<html>
    <head>
        <title>EduFlow</title>
    </head>
    <body>
        <h1 id="header">{{category.name}}</h1>
        <div id="categories-list">
            <h2>Topic</h2>
                {% for topic in topics %}
                    <a href="/topic/{{topic.id}}">{{ topic.name }}</a>
                    <br>
                {% endfor %}
        </div>
        <button id="create_topic" onclick="createTopic()">Create Topic</button>
    </body>

    <script>
        function createTopic() {
            const name = prompt("Enter topic name:");
            if (name) {
                fetch('/category/{{ category.id }}/create-topic/', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json',},
                    body: JSON.stringify({ name: name })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        window.location.reload();
                    }
                });
            }
        }
      </script>
</html>